.git
.github
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
ai_service
tests
scratch
.env
.env.*
!.env.example
*.md
