APP_NAME="AVI SaaS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=avi-db
DB_PORT=5432
DB_DATABASE=avi_saas
DB_USERNAME=postgres
DB_PASSWORD=Ashley2023

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=avi-redis
REDIS_PASSWORD=Ashley2023
REDIS_PORT=6379

AI_SERVICE_URL=http://avi-ai:8001
AI_SERVICE_TIMEOUT=4.0

WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_SECRET=
